
.title-label {
    -fx-font-size: 24px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
}

#animalImageLabel {
    -fx-font-weight: bold;
}

#animalImageView {
    -fx-border-color: black;
    -fx-border-width: 1px;
}