.bold-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #38B6FF;
    -fx-font-family: "Arial Black";
}

.text-field-custom {
    -fx-prompt-text-fill: #e1dede;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #e1dede;
    -fx-border-width: 2px;
    -fx-pref-height: 40px;
    -fx-pref-width: 250px;
}

.custom-button {
    -fx-background-color: #38B6FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-background-radius: 20px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
    -fx-border-color: #38B6FF;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
}

.custom-button:hover {
    -fx-background-color: rgba(56, 182, 255, 0.7);
}

.custom-button:pressed {
    -fx-background-color: rgba(56, 182, 255, 0.7);
}

.custom-button2 {
    -fx-background-color: #38B6FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-background-radius: 20px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
    -fx-border-color: #38B6FF;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
}

.custom-button2:hover {
    -fx-background-color: rgba(56, 182, 255, 0.7);
}

.custom-button2:pressed {
    -fx-background-color: rgba(56, 182, 255, 0.7);
}


.comboStatus {
    -fx-background-color: #6EC6FF; /* Slightly lighter blue color */
    -fx-text-fill: #FFFFFF; /* White text color */
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-background-radius: 20px;
    -fx-padding: 10px 40px 10px 20px; /* Adjusted padding to accommodate the arrow button */
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
    -fx-border-color: #6EC6FF; /* Border color matches background */
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
}

.comboStatus .arrow-button {
    -fx-background-color: transparent; /* Make the arrow background transparent */
    -fx-background-radius: 0; /* Remove arrow button border radius */
    -fx-shape: null; /* Remove arrow button shape */
    -fx-padding: 0 0 0 5px; /* Adjust padding to make space for arrow */
}

.comboStatus .text {
    -fx-fill: #FFFFFF; /* Set text color to white */
}

.comboStatus .list-cell {
    -fx-background-color: #6EC6FF; /* Set dropdown list background color */
    -fx-text-fill: #FFFFFF; /* Set dropdown list text color */
}

.back {
    -fx-background-color:#FFFFFF;

}