         <!DOCTYPE html>
<html lang="en">
   
<!-- Mirrored from www.ingridkuhn.com/themes/unitedpetsbs5/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Jan 2024 14:07:04 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- page title -->
      <title>United Pets</title>
      <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
      <![endif]-->
      <!-- Font files -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700%7CMontserrat:400,500,600,700" rel="stylesheet">
      <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
      <link href="fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
      <!-- Fav icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- style CSS -->
      <link href="css/style.css" rel="stylesheet">
      <!-- plugins CSS -->
      <link href="css/plugins.css" rel="stylesheet">
      <!-- Colors CSS -->
      <link href="styles/maincolors.css" rel="stylesheet">
	  	  <!-- LayerSlider CSS -->
      <link rel="stylesheet" href="vendor/layerslider/css/layerslider.css">
<!-- Switcher Only -->
      <link rel="stylesheet" id="switcher-css" type="text/css" href="switcher/css/switcher.css" media="all" />
      <!-- END Switcher Styles -->

	        <!-- Demo Examples (For Module #3) -->
	  <link rel="alternate stylesheet" type="text/css" href="styles/maincolors.css" title="maincolors" media="all" />
      <link rel="alternate stylesheet" type="text/css" href="styles/tinypaws.css" title="tinypaws" media="all" />
	  <link rel="alternate stylesheet" type="text/css" href="styles/veterinarian.css" title="veterinarian" media="all" />
      <link rel="alternate stylesheet" type="text/css" href="styles/agility.css" title="agility" media="all" />
	   <link rel="alternate stylesheet" type="text/css" href="styles/superpet.css" title="superpet" media="all" />
	   <link rel="alternate stylesheet" type="text/css" href="styles/mymascot.css" title="mymascot" media="all" />
	   	   <link rel="alternate stylesheet" type="text/css" href="switcher/css/boxed.css" title="boxed" media="all" />
	   	   <link rel="alternate stylesheet" type="text/css" href="switcher/css/full.css" title="full" media="all" />
		   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-76370337-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-76370337-2');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T7ZJPV8');</script>
<!-- End Google Tag Manager -->
   </head>
   <!-- ==== body starts ==== -->
           <!-- Start Switcher -->
      <div class="demo_changer">
       
         <!-- end opener icon -->
         <div class="form_holder text-center">
            <div class="row">
               <div class="col-lg-12">
                  <div class="predefined_styles">
				     <h5>Choose a Color Skin</h5>
                     <!-- MODULE #3 -->
                     <a href="maincolors.html" class="styleswitch"><img src="switcher/images/maincolors.png" alt="maincolors"></a>		
                     <a href="agility.html" class="styleswitch"><img src="switcher/images/agility.png" alt="agility"></a>		
                     <a href="veterinarian.html" class="styleswitch"><img src="switcher/images/veterinarian.png" alt="veterinarian"></a>
					  <a href="superpet.html" class="styleswitch"><img src="switcher/images/superpet.png" alt="superpet"></a>	
					 <a href="tinypaws.html" class="styleswitch"><img src="switcher/images/tinypaws.png" alt="tinypaws"></a>	
                     <a href="mymascot.html" class="styleswitch"><img src="switcher/images/mymascot.png" alt="mymascot"></a>	
                                 <h5 class="mt-4">Page Width</h5>
			   <form>
				<select id="nav-options" class="show-menu-arrow selectpicker" value="">
								<option value="full">Full Width</option>

				<option value="boxed">Boxed</option>
				
				</select>  
            </form>  
								 
	  </div>
				  				              <!-- Button -->	
				              <!-- Button -->	
               <a href="https://themeforest.net/item/united-pets-responsive-html5-template/23276071" class="btn btn-sm btn-secondary mt-4">BUY NOW</a>

               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- end form_holder -->
      </div>
      <!-- end demo_changer -->
   <body id="top">
      <!-- Preloader  -->
      <div id="preloader">
         <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
               <div class="preloader-logo">
                  <!--logo -->
                  <img src="img/logo.png" alt="" class="img-fluid">
                  <!--preloader circle -->
                  <div class="lds-ring">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
               </div>
               <!--/preloader logo -->
            </div>
            <!--/row -->
         </div>
         <!--/container -->
      </div>
      <!--/Preloader ends -->
      <nav id="main-nav" class="navbar-expand-xl fixed-top">
            <!-- Start Top Bar -->
            <div class="container-fluid top-bar" >
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <!-- Start Contact Info -->
                        <ul class="contact-details float-start">
                           <li><i class="fa fa-map-marker"></i>ESPRIT,Ariana soghra.Tunis </li>
                           <li><i class="fa fa-envelope"></i><a href="mailto:email@site.com">unitedpets@gmail.com</a></li>
                           <li><i class="fa fa-phone"></i>28082700</li>
                        </ul>
                        <!-- End Contact Info -->
                        <!-- Start Social Links -->
                        <ul class="social-list float-end list-inline">
                           <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                           <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                           <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                        <!-- /End Social Links -->
                     </div>
                     <!-- col-md-12 -->
                  </div>
                  <!-- /row -->
               </div>
               <!-- /container -->
            </div>
            <!-- End Top bar -->
            <!-- Navbar Starts -->
            <div class="navbar container-fluid">
               <div class="container ">
                  <!-- logo -->
                  <a class="nav-brand" href="home">
                  <img src="img/logo.png" alt="" class="img-fluid">
                  </a>
                  <!-- Navbartoggler -->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggle-icon">
                  <i class="fas fa-bars"></i>
                  </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                     <ul class="navbar-nav ms-auto">
                        <!-- menu item -->
                        <li class="nav-item home-menu">
                           <a class="nav-link " href="home">Home
                           </a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="nav-link" href="#" id="services-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Animals
                           </a>
                          
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="nav-link" href="#" id="about-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Adopt
                           </a>
                           
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="nav-link" href="#" id="adopt-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Pet Boarding
                           </a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="nav-link" href="#" id="gallery-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Products
                           </a>
                           
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="contact-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Donate
                           </a>
                           <div class="dropdown-menu pattern2" aria-labelledby="contact-dropdown">
                              <a class="dropdown-item" href="addDonationP">Product donation</a>
                              <a class="dropdown-item" href="contact2.html">Financial contributions</a>
            
                           </div>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="nav-link" href="#" id="others-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           About 
                           </a>
                        </li>

                        <!-- menu item -->
                        <li class="nav-item dropdown">
                           <a class="battouna btn btn-primary" href={{ path('app_login') }}>Login</a>
                        </li>



                     </ul>
                     <!--/ul -->
                  </div>
                  <!--collapse -->
               </div>
               <!-- /container -->
            </div>
         <!-- /navbar -->
      </nav>
      <!-- /nav -->
      <!-- ==== Slider ==== -->
      <div class="container-fluid p-0">
         <div id="slider" class="overlay-parallax-slider" style="width:1200px;height:650px;margin:0 auto;margin-bottom: 0px;">
            <!-- Slide 1 -->
            <div class="ls-slide overlay2" data-ls="duration:4000; transition2d:7;">
               <!-- bg image  -->
               <img src="img/slider/slide1-parallax.jpg" class="ls-bg" alt="" >
               <!-- ls-l  -->
               <img width="1200" height="376" src="img/slider/slide1-element.png" class="ls-l" alt="" style="top:296px; right:0
                  %;" data-ls="offsetxin:10; offsetyin:120; durationin:1100; rotatein:5; transformoriginin:59.3% 80.3% 0; offsetxout:-80; durationout:400; parallax:true; parallaxlevel:-4;">
               <!-- text  -->
               <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallax:true; parallaxlevel:2;">
                  <div class="header-text full-width text-light">
                     <h1>Welcome to <span>United pets</span></h1>
                     <!--the div below is hidden on small screens  -->
                     <div class="hidden-small">
                        <p class="header-p">Our mission is to provide a loving home for every animal in need</p>
                        <a class="btn btn-primary " href="contact.html">Contact us</a>
                     </div>
                     <!--/d-none  -->
                  </div>
                  <!-- header-text  -->
               </div>
			   <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
         </div>
         <!-- /slider -->
      </div>
      <!-- /container-fluid -->
      <!-- ==== Page Content ==== -->
      <!-- section -->
      <section id="intro-home" class="container-fluid bg-light pattern4-right">
         <div class="container">
            <!-- row -->  
            <div class="row">
               <div class="col-lg-9">
                  <h3>Quality & Experience </h3>
                  <p>Discover unparalleled adoption experiences at Pets United. We prioritize quality, ensuring every pet finds a loving home with a seamless, joyful process.</p>
               </div>
               <!-- /col-lg-->
               <div class="col-lg-3 justify-content-center align-self-center">
                  <!-- button -->
                  <a href="contact.html" class="btn btn-secondary"  data-aos="zoom-out">Contact us</a>
               </div>
               <!-- /col-lg-->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends -->
      <!-- section -->
      <section id="call-widget" class="container-fluid pt-0 pb-0">
         <div class="row p-0">
            <!-- call 1 -->
            <div class="call-box col-lg-4 p-0">
               <a href="services.html">
                  <!-- image -->
                  <img src="img/box1.jpg" alt="" class="center-block img-responsive">
                  <div class="call-title">
                     <!-- call-info -->
                     <div class="call-info text-center">
                        <p class="subtitle text-light">more info</p>
                        <h3 class="text-light">Our Services</h3>
                     </div>
                  </div>
               </a>
            </div>
            <!-- /call-box -->
            <!-- call 2 -->
            <div class="call-box col-lg-4 p-0">
               <a href="about.html">
                  <!-- image -->
                  <img src="img/box2.jpg" alt="" class="center-block img-responsive">
                  <div class="call-title">
                     <!-- call-info -->
                     <div class="call-info text-center">
                        <p class="subtitle text-light">more info</p>
                        <h3 class="text-light">About us</h3>
                     </div>
                  </div>
               </a>
            </div>
            <!-- /call-box -->
            <!-- call 3 -->
            <div class="call-box col-lg-4 p-0">
               <a href="team.html">
                  <!-- image -->
                  <img src="img/box3.jpg" alt="" class="center-block img-responsive">
                  <div class="call-title">
                     <!-- call-info -->
                     <div class="call-info text-center">
                        <p class="subtitle text-light">more info</p>
                        <h3 class="text-light">Our Team</h3>
                     </div>
                  </div>
               </a>
            </div>
            <!-- /call-box -->
         </div>
         <!-- /row -->
      </section>
      <!-- /section--><!-- section -->
      <section id="services-home" class="container">
         <div class="container">
            <!-- section heading -->  
            <div class="section-heading text-center">
               <p class="subtitle">what we offer</p>
               <h2>Our Services</h2>
            </div>
            <!-- /section heading -->
            <div class="row">
               <div class="col-lg-7 my-auto">
                  <h3>Quality Services</h3>
                  <span class="h7 mt-0">Exemplifying excellence in pet care with our unwavering commitment to quality services. </span>
                  <p></p>
                  <!-- Button -->	 
                  <a href="contact.html" class="btn btn-primary mt-3">Contact us</a>
               </div>
               <!-- /col-lg-7-->
               <div class="col-lg-5">
                  <img src="img/introimg1.jpg" class="img-fluid" alt="">
               </div>
               <!-- /col-lg-5-->   
               <!-- services carousel -->
               <div class="carousel-3items owl-carousel owl-theme container res-margin">
                  <!-- service-box 1 -->
                  <div class="serviceBox1 bg-primary pattern3">
                     <div class="service-content bg-light">
                        <!-- image -->
                        <div class="service-icon">
                           <img src="img/services/service1.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <!-- title -->
                        <h3 class="title"><a href="services-single.html">Animals</a></h3>
                        <!-- /description -->
                        <p class="description">
                           our team of experienced veterinarians is dedicated to providing exceptional care for your beloved pets. With a passion for animal health and well-being, our veterinary professionals offer comprehensive services, from routine check-ups to specialized treatments
                        </p>
                        <!-- /description -->
                     </div>
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn btn-secondary" href="services-single.html">Read More</a>
                     </div>
                  </div>
                  <!-- /serviceBox-->
                  <!-- service-box 2 -->
                  <div class="serviceBox1 bg-primary pattern3">
                     <div class="service-content bg-light">
                        <!-- image -->
                        <div class="service-icon">
                           <img src="img/services/service2.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <!-- title -->
                        <h3 class="title"><a href="services-single.html">Pet Boarding</a></h3>
                        <!-- /description -->
                        <p class="description">
                           Experience peace of mind with our Pet Boarding services—providing a home away from home, where your pets receive exceptional care, comfort, and personalized attention
                        </p>
                        <!-- /description -->
                     </div>
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn btn-secondary" href="services-single.html">Read More</a>
                     </div>
                  </div>
                  <!-- /serviceBox -->
                  <!-- service-box 3 -->
                  <div class="serviceBox1 bg-primary pattern3">
                     <div class="service-content bg-light">
                        <!-- image -->
                        <div class="service-icon">
                           <img src="img/services/service3.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <!-- title -->
                        <h3 class="title"><a href="services-single.html">Adoption</a></h3>
                        <!-- /description -->
                        <p class="description">
                           Transform a life and find your perfect companion through our Adoption Center—a place of compassion, where every adoption creates a lifelong bond filled with love and joy
                        </p>
                        <!-- /description -->
                     </div>
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn btn-secondary" href="services-single.html">Read More</a>
                     </div>
                  </div>
                  <!-- /serviceBox -->
                  <!-- service-box 4 -->
                  <div class="serviceBox1 bg-primary pattern3">
                     <div class="service-content bg-light">
                        <!-- image -->
                        <div class="service-icon">
                           <img src="img/services/service4.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <!-- title -->
                        <h3 class="title"><a href="services-single.html">Products</a></h3>
                        <!-- /description -->
                        <p class="description">
                           Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                        </p>
                        <!-- /description -->
                     </div>
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn btn-secondary" href="services-single.html">Read More</a>
                     </div>
                  </div>
                  <!-- /serviceBox -->
                  <!-- service-box 5 -->
                  <div class="serviceBox1 bg-primary pattern3">
                     <div class="service-content bg-light">
                        <!-- image -->
                        <div class="service-icon">
                           <img src="img/services/service5.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        <!-- title -->
                        <h3 class="title"><a href="services-single.html">donation</a></h3>
                        <!-- /description -->
                        <p class="description">
                           Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                        </p>
                        <!-- /description -->
                     </div>
                     <!-- button -->
                     <div class="text-center">
                        <a class="btn btn-secondary" href="services-single.html">Read More</a>
                     </div>
                  </div>
                  <!-- /serviceBox -->
               </div>
               <!-- /owl-carousel -->	    
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends -->
      <!-- section -->
      <section id="about-home" class="overlay-light">
         <div class="container">
            <!-- section heading -->  
            <div class="section-heading text-center">
               <p class="subtitle">Get to know us</p>
               <h2>About us</h2>
            </div>
            <!-- /section-heading -->
            <div class="row">
               <!-- Tabs -->
               <div class="col-md-12">
                  <!-- navigation -->
                  <nav>
                     <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-selected="true">Our Mission</a>
                        <a class="nav-item nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab"  aria-selected="false">Testimonials</a>
                     </div>
                  </nav>
                  <!-- tab-content -->
                  <div class="tab-content block-padding" id="nav-tabContent">
                     <div class="tab-pane  fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <!-- row -->
                        <div class="row">
                           <div class="col-lg-5 position-relative"  data-aos="zoom-out" >
                              <!-- image -->
                              <div class="img-zoom-hover">
                                 <img src="img/abouttab1.jpg" alt="" class="img-rotate-outline  img-left-absolute img-fluid" >
                              </div>
                              <!-- /img-zoom-hover -->
                           </div>
                           <!-- /col-lg-5 -->
                           <div class="col-lg-7 res-margin">
                              <h3>Your pets deserve the best</h3>
                              <!--divider -->
                              <hr class="small-divider left">
                              <p>we believe your pets deserve the best. Our commitment is to provide top-notch care, attention, and services to ensure their well-being and happiness.</p>
                              <div class="accordion">
                                 <!-- collapsible accordion 1 -->
                                 <div class="card">
                                    <div class="card-header">
                                       <a class="card-link" data-bs-toggle="collapse" href="#collapseOne">
                                       Our Philosophy
                                       </a>
                                    </div>
                                    <!-- /card-header -->
                                    <div id="collapseOne" class="collapse show" data-bs-parent=".accordion">
                                       <div class="card-body">
                                          <p>our philosophy is rooted in compassion, dedication, and the unwavering belief that every pet deserves a loving home. We are committed to creating a harmonious connection between animals and their human companions, fostering a lifetime of happiness and well-being.</p>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- /card -->
                                 <!-- collapsible accordion 2 -->
                                 <div class="card">
                                    <div class="card-header">
                                       <a class="collapsed card-link" data-bs-toggle="collapse" href="#collapseTwo">
                                       Our Organization
                                       </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-bs-parent=".accordion">
                                       <div class="card-body">
                                          <p>Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- /card -->
                                 <!-- collapsible accordion 3 -->
                                 <div class="card">
                                    <div class="card-header">
                                       <a class="collapsed card-link" data-bs-toggle="collapse" href="#collapseThree">
                                       Partnerships with our team
                                       </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-bs-parent=".accordion">
                                       <div class="card-body">
                                          <p>Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- /card -->
                              </div>
                              <!-- /accordion -->
                              <!-- Button -->	 
                              <a href="about.html" class="btn btn-primary mt-4">More about us</a>
                           </div>
                           <!-- /col-lg-6-->
                        </div>
                        <!-- row -->
                     </div>
                     <!-- ./Tab-pane -->
                     <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <!-- row -->
                        <div class="row">
                           <div class="col-lg-7">
                              <h3>Adoption Events</h3>
                              <!--divider -->
                              <hr class="small-divider left">
                              <p>Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                              <!-- Button -->	 
                              <a href="events.html" class="btn btn-secondary mt-2">See all events</a>
                              <h4 class="mt-5">Upcoming events:</h4>
                              <div class="carousel-2items owl-carousel owl-theme col-md-12">
                                 <!-- event 1 -->		 
                                 <div class="widget2">
                                    <div class="card bg-light" >
                                       <div class="card-img">
                                          <!-- image event -->	
                                          <a href="event-single.html">
                                          <img class="card-img-top" src="img/adoption/adoptionsidebar1.jpg" alt="">
                                          </a>
                                       </div>
                                       <div class="card-body text-center">
                                          <!-- event info -->	
                                          <a href="event-single.html">
                                             <h6 class="card-title">NYC Adoption Fair</h6>
                                          </a>
                                          <ul class="list-unstyled colored-icons">
                                             <li><span><i class="fas fa-calendar-alt me-2"></i>2th February at 4pm</span></li>
                                             <li><span><i class="fas fa-map-marker-alt me-2"></i>Washington Square Park</span></li>
                                          </ul>
                                          <!-- button -->	
                                          <a href="event-single.html" class="btn btn-primary btn-sm mt-0">More info</a>
                                       </div>
                                       <!--/card-body text-center -->	
                                    </div>
                                    <!-- /card -->	
                                 </div>
                                 <!--/widget2 -->
                                 <!-- event 2 -->		 
                                 <div class="widget2">
                                    <div class="card bg-light" >
                                       <div class="card-img">
                                          <!-- image event -->	
                                          <a href="event-single.html">
                                          <img class="card-img-top" src="img/adoption/adoptionevent2.jpg" alt="">
                                          </a>                  
                                       </div>
                                       <div class="card-body text-center">
                                          <!-- event info -->	
                                          <a href="event-single.html">
                                             <h6 class="card-title">Bronx Adoption Fair</h6>
                                          </a>
                                          <ul class="list-unstyled colored-icons">
                                             <li><span><i class="fas fa-calendar-alt me-2"></i>12th March at 3pm</span></li>
                                             <li><span><i class="fas fa-map-marker-alt me-2"></i>Bronx Park</span></li>
                                          </ul>
                                          <!-- button -->	
                                          <a href="event-single.html" class="btn btn-primary btn-sm mt-0">More info</a>
                                       </div>
                                       <!--/card-body text-center -->	
                                    </div>
                                    <!-- /card -->	
                                 </div>
                                 <!--/widget2 -->
                                 <!-- event 3 -->		 
                                 <div class="widget2">
                                    <div class="card bg-light" >
                                       <div class="card-img">
                                          <!-- image event -->	
                                          <a href="event-single.html">
                                          <img class="card-img-top" src="img/adoption/adoptionevent3.jpg" alt="">
                                          </a>                  
                                       </div>
                                       <div class="card-body text-center">
                                          <!-- event info -->
                                          <a href="event-single.html">
                                             <h6 class="card-title">Jersey Adoption Fair</h6>
                                          </a>
                                          <ul class="list-unstyled colored-icons">
                                             <li><span><i class="fas fa-calendar-alt me-2"></i>8th April at 4pm</span></li>
                                             <li><span><i class="fas fa-map-marker-alt me-2"></i>Liberty State Park</span></li>
                                          </ul>
                                          <!-- button -->	
                                          <a href="event-single.html" class="btn btn-primary btn-sm mt-0">More info</a>
                                       </div>
                                       <!--/card-body text-center -->	
                                    </div>
                                    <!-- /card -->	
                                 </div>
                                 <!--/widget2 -->
                              </div>
                              <!-- /carousel -->                     
                           </div>
                           <div class="col-lg-5 res-margin position-relative">
                              <!-- image -->
                              <div class="img-zoom-hover">
                                 <img src="img/abouttab2.jpg" alt="" class="img-rotate-outline img-right-absolute img-fluid">
                              </div>
                              <!-- /img-zoom-hover -->
                           </div>
                           <!-- /col-lg-5 -->
                        </div>
                        <!-- /row -->
                     </div>
                     <!-- ./Tab-pane -->
                     <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        <!-- row -->
                        <div class="row">
                           <div class="col-lg-7">
                              <h3>Testimonials</h3>
                              <!--divider -->
                              <hr class="small-divider left">
                              <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                              <div class="mt-5">
                                 <!-- testimonials -->
                                 <div class="carousel-1item card bg-light owl-carousel owl-theme col-md-12">
                                    <!-- testimonial -->
                                    <div class="testimonial">
                                       <div class="content">
                                          <p class="description">
                                             Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        
                                          </p>
                                       </div>
                                       <!-- /content -->
                                       <div class="testimonial-pic">
                                          <img src="img/team/team1.jpg" class="img-fluid" alt="">
                                       </div>
                                       <!-- /testimonial-pic -->
                                       <div class="testimonial-review">
                                          <h5 class="testimonial-title">Lucianna Smith</h5>
                                          <span>Teacher</span>
                                       </div>
                                       <!-- /testimonial-review -->
                                    </div>
                                    <!-- /testimonial -->
                                    <!-- testimonial -->
                                    <div class="testimonial">
                                       <div class="content">
                                          <p class="description">
                                             Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        
                                          </p>
                                       </div>
                                       <!-- /content -->
                                       <div class="testimonial-pic">
                                          <img src="img/team/team2.jpg" class="img-fluid" alt="">
                                       </div>
                                       <!-- /testimonial-pic -->
                                       <div class="testimonial-review">
                                          <h5 class="testimonial-title">John Sadana</h5>
                                          <span>Doctor</span>
                                       </div>
                                       <!-- /testimonial-review -->
                                    </div>
                                    <!-- /testimonial -->
                                    <!-- testimonial -->
                                    <div class="testimonial">
                                       <div class="content">
                                          <p class="description">
                                             Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.                        
                                          </p>
                                       </div>
                                       <!-- /content -->
                                       <div class="testimonial-pic">
                                          <img src="img/team/team3.jpg" class="img-fluid" alt="">
                                       </div>
                                       <!-- /testimonial-pic -->
                                       <div class="testimonial-review">
                                          <h5 class="testimonial-title">Jane Janeth</h5>
                                          <span>Librarian</span>
                                       </div>
                                       <!-- /testimonial-review -->
                                    </div>
                                    <!-- /testimonial -->
                                 </div>
                                 <!-- /owl-testimonial -->                        
                              </div>
                           </div>
                           <div class="col-lg-5 res-margin position-relative">
                              <!-- image -->
                              <div class="img-zoom-hover">
                                 <img src="img/abouttab3.jpg" alt="" class="img-rotate-outline  img-right-absolute img-fluid">
                              </div>
                              <!-- /img-zoom-hover -->
                           </div>
                           <!-- /col-lg-5 -->
                        </div>
                        <!-- /row -->
                     </div>
                     <!-- ./Tab-pane -->
                  </div>
                  <!-- ./Tab-content -->
               </div>
               <!-- col-md-12 -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container-->
      </section>
      <!-- /section ends -->
      <!-- section -->
      <section id="adoption-home" class="container-fluid ps-0 pr-0 overlay-dark bg-fixed">
         <!-- section heading -->  
         <div class="section-heading text-center text-light">
            <p class="subtitle">Find your friend</p>
            <h2>Adoption</h2>
         </div>
         <!-- /section-heading -->
         <div class="container">
            <div class="col-lg-10 offset-lg-1 text-center text-light">
               <h3>Adopting is an act of <span class="text-tertiary">love</span></h3>
               <p class="h7">Open your heart. Adopt a new chapter of love and companionship.</p>
               <p>Unlock love through adoption. Find your perfect companion and create a lifetime of cherished moments.</p>
            </div>
            <!-- /col-lg -->
            <!-- Carousel  -->
            <div class="col-md-12 carousel-2items owl-carousel owl-theme">
               <!-- Adopt 1 -->
               <div class="adopt-card res-margin row bg-light pattern2">
                  <div class="col-md-5">
                     <!-- Image -->
                     <div class="adopt-image d-flex flex-wrap align-items-center ">
                        <a href="adoption-single.html">
                        <img src="img/adoption/adoption1.jpg" class="img-fluid" alt="">
                        </a>
                     </div>
                  </div>
                  <div class="col-md-7 res-margin">
                     <!-- Name -->
                     <div class="caption-adoption">
                        <h5 class="adoption-header"><a href="adoption-single.html">Magdalene</a></h5>
                        <!-- List -->
                        <ul class="list-unstyled">
                           <li><strong>Gender:</strong> Female</li>
                           <li><strong>Age:</strong> 2 years</li>
                           <li><strong>Breed:</strong> Poodle Mix</li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-12 mt-3">
                     <!-- Button -->	
                     <div class="text-center">
                        <!-- Adopt info -->
                        <ul class="adopt-card-info list-unstyled">
                           <li ><i class="flaticon-veterinarian-hospital"></i>special needs</li>
                           <li ><i class="flaticon-dog-4"></i>Friendly to other pets</li>
                        </ul>
                        <!-- button-->
                        <a href="adoption-single.html" class="btn btn-primary">More Info</a>
                     </div>
                     <!-- /text-center -->
                  </div>
                  <!-- /col-md -->
               </div>
               <!-- /adopt-card -->
              
            </div>
            <!-- /carousel --> 
            <div class="col-lg-12 text-center">
               <!-- button --> 
               <a href="adoption.html" class="btn btn-secondary mt-3">See adoption gallery</a>
            </div>
            <!-- /col-lg -->
         </div>
         <!-- /container-->
      </section>
      <!-- /section ends -->
      <!-- section --> 
      <section id="gallery-home" class="container-fluid ps-0 pr-0">
         <div class="container">
            <!-- section heading -->  
            <div class="section-heading text-center">
               <p class="subtitle">Image tour</p>
               <h2>Gallery</h2>
            </div>
            <!-- /section-heading -->
         </div>
         <!-- owl carousel gallery  -->
         <div class="owl-stage owl-carousel owl-theme top-centered-nav magnific-popup mt-5">
            <div class="col-md-12 gallery-img hover-opacity">
               <!-- image -->
               <a href="img/gallery/gallery1.jpg" title="your caption here">
               <img src="img/gallery/gallery1.jpg" class="img-fluid rounded" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img hover-opacity">
               <a href="img/gallery/gallery2.jpg" title="your caption here">
               <img src="img/gallery/gallery2.jpg" class="img-fluid rounded" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img hover-opacity">
               <a href="img/gallery/gallery3.jpg" title="your caption here">
               <img src="img/gallery/gallery3.jpg" class="img-fluid rounded" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img hover-opacity">
               <a href="img/gallery/gallery4.jpg" title="your caption here">
               <img src="img/gallery/gallery4.jpg" class="img-fluid rounded" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img hover-opacity">
               <a href="img/gallery/gallery5.jpg" title="your caption here">
               <img src="img/gallery/gallery5.jpg" class="img-fluid rounded" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 gallery-img hover-opacity">
               <a href="img/gallery/gallery6.jpg" title="your caption here">
               <img src="img/gallery/gallery6.jpg" class="img-fluid rounded" alt="">
               </a>
            </div>
            <!-- /col-md-12 -->
         </div>
         <!-- /owl-carousel -->	
      </section>
      <!-- /section ends -->
      <!-- section --> 
      <section id="feature-section" class="bg-light pattern1">
         <div class="container">
            <!-- section heading -->  
            <div class="section-heading text-center">
               <p class="subtitle">Benefits for you</p>
               <h2>Our Features</h2>
            </div>
            <!-- /section-heading -->
            <!-- features -->
            <div class="row text-lg-end">
               <div class="col-md-6 col-lg-3 my-auto p-3">
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-pet-lotion"></i>
                     </div>
                     <h5><strong>Natural products</strong></h5>
                     <p></p>
                  </div>
                  <!-- /feature-with-icon-->
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-veterinarian-hospital"></i>
                     </div>
                     <h5><strong>Vet care</strong></h5>
                     <p></p>
                  </div>
                  <!-- /feature-with-icon-->
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-dog-training-1"></i>
                     </div>
                     <h5><strong>Training</strong></h5>
                     <p></p>
                  </div>
                  <!-- /feature-with-icon-->
               </div>
               <div class="col-md-6 col-lg-3 text-start p-3 my-auto pt-sm-0 order-3">
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-pet-shelter"></i>
                     </div>
                     <h5><strong>Housing</strong></h5>
                     <p></p>
                  </div>
                  <!-- /feature-with-icon-->
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-animal-1"></i>
                     </div>
                     <h5><strong>Adoption</strong></h5>
                     <p></p>
                  </div>
                  <!-- /feature-with-icon-->
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-pet"></i>
                     </div>
                     <h5><strong>Quality care</strong></h5>
                     <p></p>
                  </div>
                  <!-- /feature-with-icon-->
               </div>
               <!-- /col-l -->
				<div class="text-center col-lg-6 mx-auto mt-3">
				<!--image  -->
				<img alt="" class="img-fluid rounded" src="img/features.jpg" data-aos="flip-right">
				</div>
               <!-- col-lg-  -->
            </div>
            <!-- /row-->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends -->
      <!-- section -->
      <section id="blogprev-home" class="overlay-dark bg-fixed">
         <div class="container">
            <!-- section heading -->  
            <div class="section-heading text-center text-light">
               <p class="subtitle">keep updated</p>
               <h2>Latest Blog posts</h2>
            </div>
            <!-- /section-heading -->
            <!-- blog carousel -->
			<div class="row">
             <div class="carousel-3items owl-carousel owl-theme">
               <!-- blog-box -->
               <div class="blog-box">
                  <!-- image -->
                  <a href="blog-single.html">
                     <div class="image"><img src="img/blog/blogstyle2-1.jpg" alt=""></div>
                  </a>
                  <!-- blog-box-caption -->
                  <div class="blog-box-caption">
                     <!-- date -->
                     <div class="date"><span class="day">12</span><span class="month">May</span></div>
                     <a href="blog-single.html">
                        <h4>What are the most nutritious cat foods?</h4>
                     </a>
                     <!-- /link -->
                     <p>
                        Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                     </p>
                  </div>
                  <!-- blog-box-footer -->
                  <div class="blog-box-footer">
                     <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Lauren Smith</a></div>
                     <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>23</a></div>
                     <!-- Button -->	 
                     <div class="text-center col-md-12">
                        <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                     </div>
                  </div>
                  <!-- /blog-box-footer -->
               </div>
               <!-- /blog-box -->
               <!-- blog-box -->
               <div class="blog-box">
                  <!-- image -->
                  <a href="blog-single.html">
                     <div class="image"><img src="img/blog/blogstyle2-2.jpg" alt=""></div>
                  </a>
                  <!-- blog-box-caption -->
                  <div class="blog-box-caption">
                     <!-- date -->
                     <div class="date"><span class="day">28</span><span class="month">June</span></div>
                     <a href="blog-single.html">
                        <h4>How to train a dog not to jump on you</h4>
                     </a>
                     <!-- /link -->
                     <p>
                        Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                     </p>
                  </div>
                  <!-- blog-box-footer -->
                  <div class="blog-box-footer">
                     <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Jonas Doe</a></div>
                     <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>5</a></div>
                     <!-- Button -->	 
                     <div class="text-center col-md-12">
                        <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                     </div>
                  </div>
                  <!-- /blog-box-footer -->
               </div>
               <!-- /blog-box -->
               <!-- blog-box -->
               <div class="blog-box">
                  <!-- image -->
                  <a href="blog-single.html">
                     <div class="image"><img src="img/blog/blogstyle2-3.jpg" alt=""></div>
                  </a>
                  <!-- blog-box-caption -->
                  <div class="blog-box-caption">
                     <!-- date -->
                     <div class="date"><span class="day">02</span><span class="month">July</span></div>
                     <a href="blog-single.html">
                        <h4>How do you get rid of cat allergies?</h4>
                     </a>
                     <!-- /link -->
                     <p>
                        Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                     </p>
                  </div>
                  <!-- blog-box-footer -->
                  <div class="blog-box-footer">
                     <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Lauren Smith</a></div>
                     <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>10</a></div>
                     <!-- Button -->	 
                     <div class="text-center col-md-12">
                        <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                     </div>
                  </div>
                  <!-- /blog-box-footer -->
               </div>
               <!-- /blog-box -->
               <!-- blog-box -->
               <div class="blog-box">
                  <!-- image -->
                  <a href="blog-single.html">
                     <div class="image"><img src="img/blog/blogstyle2-4.jpg" alt=""></div>
                  </a>
                  <!-- blog-box-caption -->
                  <div class="blog-box-caption">
                     <!-- date -->
                     <div class="date"><span class="day">18</span><span class="month">June</span></div>
                     <a href="blog-single.html">
                        <h4>10 Reasons to adopt a senior dog</h4>
                     </a>
                     <!-- /link -->
                     <p>
                        Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                     </p>
                  </div>
                  <!-- blog-box-footer -->
                  <div class="blog-box-footer">
                     <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Jonas Doe</a></div>
                     <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>11</a></div>
                     <!-- Button -->	 
                     <div class="text-center col-md-12">
                        <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                     </div>
                  </div>
                  <!-- /blog-box-footer -->
               </div>
               <!-- /blog-box -->
               <!-- blog-box -->
               <div class="blog-box">
                  <!-- image -->
                  <a href="blog-single.html">
                     <div class="image"><img src="img/blog/blogstyle2-5.jpg" alt=""></div>
                  </a>
                  <!-- blog-box-caption -->
                  <div class="blog-box-caption">
                     <!-- date -->
                     <div class="date"><span class="day">22</span><span class="month">May</span></div>
                     <a href="blog-single.html">
                        <h4>Will my pet adapt to a new home?</h4>
                     </a>
                     <!-- /link -->
                     <p>
                        Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis...
                     </p>
                  </div>
                  <!-- blog-box-footer -->
                  <div class="blog-box-footer">
                     <div class="author">Posted by<a href="#"><i class="fas fa-user"></i>Lauren Smith</a></div>
                     <div class="comments"><a href="blog-single.html"><i class="fas fa-comment"></i>23</a></div>
                     <!-- Button -->	 
                     <div class="text-center col-md-12">
                        <a href="blog-single.html" class="btn btn-primary ">Read more</a>
                     </div>
                  </div>
                  <!-- /blog-box-footer -->
               </div>
               <!-- /blog-box -->
            </div>
            <!-- /owl-carousel -->
		   </div>
           <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends-->
      <!-- section-->
      <section id="team-home" class="container">
         <!-- section heading -->  
         <div class="section-heading text-center">
            <p class="subtitle">Qualified Professionals</p>
            <h2>Our Team</h2>
         </div>
         <!-- /section-heading -->  
         <div class="row">
            <div class="col-lg-3 justify-content-center align-self-center text-lg-left text-sm-center text-xs-center">
               <h3>Meet our professionals</h3>
               <p class="h7">We have an experienced qualified team to take care of your best friend</p>
               <!-- Button -->	 
               <a href="team.html" class="btn btn-secondary mt-2">View all team</a>
            </div>
            <div class="col-lg-8 offset-lg-1 res-margin">
			 <div class="row">
                <!-- team carousel -->  
               <div class="carousel-3items owl-carousel owl-theme">
                  <!-- Team member 1 -->
                  <div class="team-style2 col-lg-12">
                     <!-- image and social icons -->
                     <div class="img-box">
                        <div class="text-center">
                           <img src="img/team/team1.jpg" class="img-fluid" alt="">
                           <ul class="social-icons text-center">
                              <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                              <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li> <a href="#"><i class="fab fa-linkedin"></i></a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- Team header -->
                     <a href="team-single.html">
                        <h5 class="team-header">Laura Smith</h5>
                     </a>
                     <span>Veterinarian</span>
                     <hr class="small-divider left">
                     <p>Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
                  </div>
                  <!--/ Team member 1 -->
                  <!-- Team member 2 -->
                  <div class="team-style2 col-lg-12">
                     <!-- image and social icons -->
                     <div class="img-box">
                        <div class="text-center">
                           <img src="img/team/team2.jpg" class="img-fluid" alt="">
                        </div>
                        <ul class="social-icons text-center">
                           <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                           <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li> <a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                     <!-- Team header -->
                     <a href="team-single.html">
                        <h5 class="team-header">John Doe</h5>
                     </a>
                     <span>Pet Trainer</span>
                     <hr class="small-divider left">
                     <p>Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
                  </div>
                  <!--/ Team member 2-->
                  <!-- Team member 3 -->
                  <div class="team-style2 col-lg-12">
                     <!-- image and social icons -->
                     <div class="img-box">
                        <div class="text-center">
                           <img src="img/team/team3.jpg" class="img-fluid" alt="">
                        </div>
                        <ul class="social-icons text-center">
                           <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                           <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li> <a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                     <!-- Team header -->
                     <a href="team-single.html">
                        <h5 class="team-header">Meghan Smith</h5>
                     </a>
                     <span>Cat Specialist</span>
                     <hr class="small-divider left">
                     <p>Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
                  </div>
                  <!--/ Team member 3 -->
                  <!-- Team member 4 -->
                  <div class="team-style2 col-lg-12">
                     <!-- image and social icons -->
                     <div class="img-box">
                        <div class="text-center">
                           <img src="img/team/team4.jpg" class="img-fluid" alt="">
                        </div>
                        <ul class="social-icons text-center">
                           <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                           <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li> <a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                     <!-- Team header -->
                     <a href="team-single.html">
                        <h5 class="team-header">Mika Doe</h5>
                     </a>
                     <span>Adoption manager</span>
                     <hr class="small-divider left">
                     <p>Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
                  </div>
                  <!--/ Team member 4 -->
                  <!-- Team member 5 -->
                  <div class="team-style2 col-lg-12">
                     <!-- image and social icons -->
                     <div class="img-box">
                        <div class="text-center">
                           <img src="img/team/team5.jpg" class="img-fluid" alt="">
                        </div>
                        <ul class="social-icons text-center">
                           <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                           <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li> <a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                     <!-- Team header -->
                     <a href="team-single.html">
                        <h5 class="team-header">Jillian Smith</h5>
                     </a>
                     <span>Vet Assistant</span>
                     <hr class="small-divider left">
                     <p>Id fermentum augue, ut pellen tesque leo nas. Maecenas at arcu risus Donec com modo.</p>
                  </div>
                  <!--/ Team member 5 -->
               </div>
               <!--/carousel -->
            </div>
			<!-- /row-->
         </div>
         <!-- /col-lg-->
		</div>
	  <!-- /row-->
      </section>
      <!-- /section ends-->
      <!-- Section  -->
      <section id="counter-section" class="container-fluid counter-calltoaction bg-fixed overlay">
         <div id="counter" class="container">
            <div  class="row col-lg-10 offset-lg-1">
               <!-- Counter -->
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-dog-in-front-of-a-man"></i>
                     <!-- insert your final value on data-count= -->
                     <div class="counter-value" data-count="14">0</div>
                     <h3 class="title">Professionals</h3>
                  </div>
                  <!-- /counter -->
               </div>
               <!-- /col-lg -->		
               <!-- Counter -->
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-dog-2"></i>
                     <!-- insert your final value on data-count= -->
                     <div class="counter-value" data-count="100">0</div>
                     <h3 class="title">Adopted Pets</h3>
                  </div>
                  <!-- /counter -->
               </div>
               <!-- /col-lg -->
               <!-- Counter -->
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-prize-badge-with-paw-print"></i>
                     <!-- insert your final value on data-count= -->
                     <div class="counter-value" data-count="12">0</div>
                     <h3 class="title">Awards</h3>
                  </div>
                  <!-- /counter -->
               </div>
               <!-- /col-lg -->
               <!-- Counter -->
               <div class="col-xl-3 col-md-6">
                  <div class="counter">
                     <i class="counter-icon flaticon-dog-18"></i>
                     <!-- insert your final value on data-count= -->
                     <div class="counter-value" data-count="1200">0</div>
                     <h3 class="title">Clients</h3>
                  </div>
                  <!-- /counter -->
               </div>
               <!-- /col-lg -->
            </div>
            <!-- /row -->
         </div>
         <!-- /container -->
      </section>
      <!-- /section ends-->
      <!-- section-->
      <section id="contact-home" class="container-fluid">
         <!-- section heading -->  
         <div class="section-heading text-center">
            <p class="subtitle">Get in touch</p>
            <h2>Contact us</h2>
         </div>
         <!-- /section-heading -->  
         <div class="container">
            <div class="row">
			  <div class="position-relative">
               <!-- image -->
               <img src="img/contactbg1.png" class="img-fluid contact-home-img hidden-medium-small" alt="">
			   </div>
               <!-- contact box -->  
               <div class="col-lg-5 offset-lg-2 h-100">
                  <div class="contact-form3 bg-secondary"  data-aos="flip-right">
                     <div class="contact-image bg-secondary">
                        <!-- envelope icon-->
                        <i class="fas fa-envelope bg-secondary"></i>
                     </div>
                     <h4 class="text-center mt-3 text-light">Send us a message</h4>
                     <!-- Form Starts -->
                     <div id="contact_form">
                        <div class="form-group">
                           <div class="row">
                              <div class="col-md-12">
                                 <label>Name<span class="required">*</span></label>
                                 <input type="text" name="name" class="form-control input-field" required=""> 
                              </div>
                              <div class="col-md-12">
                                 <label>Email address <span class="required">*</span></label>
                                 <input type="email" name="email" class="form-control input-field" required=""> 
                              </div>
                              <div class="col-md-12">
                                 <label>Subject</label>
                                 <input type="text" name="subject" class="form-control input-field"> 
                              </div>
                              <div class="col-md-12">
                                 <label>Message<span class="required">*</span></label>
                                 <textarea name="message" id="message" class="textarea-field form-control" rows="3"  required=""></textarea>
                              </div>
                           </div>
                           <!-- button -->
                           <button type="submit" id="submit_btn" value="Submit" class="btn btn-quaternary btn-block mt-3">Send message</button>
                        </div>
                        <!-- /form-group-->
                        <!-- Contact results -->
                        <div id="contact_results"></div>
                     </div>
                     <!-- /contact-form-->
                  </div>
               </div>
               <!-- /col-lg-->
               <div class="text-center col-lg-5 res-margin">
                  <h3>Get in Touch</h3>
                  <p>Connect with us today. Your pets' well-being is our priority. Reach out and let's make a difference together.</p>
                  <!-- contact icons-->
                  
                  <!-- /list-->
                  <!--divider-->
                  <hr class="mt-2">
                  <!-- map-->
                  <div id="map-canvas" class="mt-5"></div>
               </div>
            </div>
            <!-- /row-->
         </div>
         <!-- /container-->
      </section>
      <!-- /section -->
               <!-- ==== Newsletter - call to action ==== -->
      <div class="container-fluid footer-bg block-padding overlay">
         <div class="container">
            <div class="col-lg-5 text-light text-center">
               <h4>Subscribe to our newsletter</h4>
               <p>We send e-mails once a month, we never send Spam!</p>
               <!-- Form -->				
               <div id="mc_embed_signup" >
                  <!-- your form address in the line bellow -->
                  <form action="http://yourlist.us12.list-manage.com/subscribe/post?u=04e646927a196552aaee78a7b&amp;id=111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                     <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                           <div class="input-group">
                              <input class="form-control border2 input-lg required email" type="email" value="" name="EMAIL" placeholder="Your email here" id="mce-EMAIL">
                              <span class="input-group-btn">
                              <button class="btn btn-primary btn-sm" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
                              </span>
                           </div>
                           <!-- Subscription results -->
                           <div id="mce-responses" class="mailchimp">
                              <div class="alert alert-danger response" id="mce-error-response"></div>
                              <div class="alert alert-success response" id="mce-success-response"></div>
                           </div>
                        </div>
                        <!-- /mc-fiel-group -->									
                     </div>
                     <!-- /mc_embed_signup_scroll -->
                  </form>
                  <!-- /form ends -->								
               </div>
               <!-- /mc_embed_signup -->
            </div>
            <!--/ col-lg-->
         </div>
         <!--/ container-->
      </div>
      <!--/container-fluid-->
	  <!-- ==== footer ==== -->
      <footer class="bg-light pattern1">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 text-center my-auto">
                  <img src="img/logo.png"  class="logo-footer img-fluid" alt="">
                  <!-- Start Social Links -->
                  <ul class="social-list text-center list-inline">
                     <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                     <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                     <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                  <!-- /End Social Links -->
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>About us</h5>
                  <!--divider -->
                  <hr class="small-divider left">
                  <p class="mt-3">At United Pets, we're a devoted team dedicated to the happiness and well-being of your pets. Trust us to provide exceptional care and lasting connections.</p>
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>Contact Us</h5>
                  <!--divider -->
                  <hr class="small-divider left">
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1"><i class="fas fa-phone margin-icon "></i>28082700</li>
                     <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:email@yoursite.com">unitedpets@gmail.com</a></li>
                     <li><i class="fas fa-map-marker margin-icon"></i>ESPRIT,Ariana soghra.Tunis </li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>Working Hours</h5>
                  <!--divider -->
                  <hr class="small-divider left">
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1">Open from 9am - 6pm</li>
                     <li class="mb-1">Holidays - Closed</li>
                     <li>Weekends - Closed</li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
            </div>
            <!--/ row-->
            <hr>
            <div class="row">
               <div class="credits col-sm-12">
                  <p></p>
               </div>
            </div>
            <!--/col-lg-12-->
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>
      <!--/ footer-->
      <!-- Bootstrap core & Jquery -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Custom Js -->
      <script src="js/custom.js"></script>
      <script src="js/plugins.js"></script>
      <!-- Prefix free -->
      <script src="js/prefixfree.min.js"></script>
	   <!-- Bootstrap Select Tool (For Module #4) -->
<script src="switcher/js/bootstrap-select.js"></script>
<!-- All Scripts & Plugins -->
<script src="switcher/js/dmss.js"></script>
<script src="switcher/js/fixes.js"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7ZJPV8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


	  <!-- number counter script -->
      <script src="js/counter.js"></script>
      <!-- maps -->
      <script src="js/map.js"></script>
      <!-- GreenSock -->
      <script src="vendor/layerslider/js/greensock.js"></script>
      <!-- LayerSlider script files -->
      <script src="vendor/layerslider/js/layerslider.transitions.js"></script>
      <script src="vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
      <script src="vendor/layerslider/js/layerslider.load.js"></script>
   </body>

<!-- Mirrored from www.ingridkuhn.com/themes/unitedpetsbs5/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Jan 2024 14:07:04 GMT -->
<style>
  .battouna {
   
    margin-top: 8px;
    
    }
</style>


</html>